.event_image{
	width: 100%;
}
.logo_name{
	font-family:'Pacifico',cursive;
	font-size:28px;
	margin-top: 5px;
	padding-right: 10px;
}
.flash_error{
	  color: #D8000C;
    background-color: #FFBABA;
    padding: 5px;
    height: 35px;
    text-align: center;
}
.flash_success{
	  color: #4F8A10;
    background-color: #DFF2BF;
    padding: 5px;
    height: 35px;
    text-align: center;
}


/*Media query starts*/
  @media only screen and (min-width: 360px) and (max-width: 414px) and (orientation : landscape) {
    .logo_name {
      text-align: center;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 736px) {
    .logo_name {
      text-align: center;
    }
  }
/*Media query ends*/